td.key, td.code {
    border: 1px solid silver;
    background-color: #fafafa;
    vertical-align: middle;
    text-align: center;
}

td.code {
    width: 30px;
    height: 33px;
    padding: 3px;
}

td.key {
    border-width: 1px;
    width: 15px;
    height: 15px;
    padding: 1px;
}

td.code, td.key.sep {
    border-bottom: 3px outset silver;
}

tr.current td.code {
    background-color: #ddf;
}

tr.shield td { background-color: #555; }
tr.shield td i { display: none; }

i {
    display: block;
    margin: auto;
}

i.code {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    box-shadow:inset 0 0 13px #000;
}

i.key {
    width: 7px;
    height: 7px;
    border-radius: 9px;
    box-shadow: inset 0 0 1px #000;
}

tr.actions i.code:hover {
    box-shadow: 0 0 0;
}
tr.actions i.code.selected {
    box-shadow: 0 0 6px #00f;
}

tr.vertical-spacer td {
    height: 20px;
}

tr.actions td {
    border: 0;
}

.footer {
    margin-top: 20px;
    padding: 20px 0 20px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    font-size: .9em;
}

/* Based on http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/ */
.ribbon {
  background-color: #a00;
  overflow: hidden;
  /* top right corner */
  position: absolute;
  right: -3em;
  top: 2.5em;
  /* 45 deg cw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}